# Storage Paths
MEDIA_SERVER_ROOT=/path/to/Rclone-Arr-Setup   # this is the cloned repo root folder
DOWNLOADS_FOLDER=/path/to/downloads

# Rclone Configuration
RCLONE_REMOTE=your-remote-name
RCLONE_USER=your-username
RCLONE_PASS=your-password

# use your above created network here
DOCKER_NETWORK=nginx_network

# for Homarr
# visit their documentation for generating one key
# https://homarr.dev/docs/getting-started/installation/docker/#installation
SECRET_ENCRYPTION_KEY=

# Aria2 Configuration
RPC_SECRET=your-secret-key